# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Snake(贪吃蛇)/x64/Debug
/.vs/Snake(贪吃蛇)
/x64/Debug
/Snake(贪吃蛇).vcxproj.filters
/Snake(贪吃蛇).vcxproj.user
/Snake(贪吃蛇).vcxproj
/Snake(贪吃蛇)/x64/Release
/x64/Release
